body{
    height: 100vh;
    width: 100%;
    border: 2px solid;
}
td,th{
    border: 1px solid;
    text-align: left;
    padding: .4rem 1rem;
   overflow: hidden;
}
tr{
    margin-top: 1rem;
}
table{
    margin: auto;
    border-collapse: collapse;
    border-spacing: 30px;
    border: 2px solid;
    
}

input{
    width: 100%;
    padding: .4rem 1rem ;


}

button{
    padding: .4rem 2rem;
    margin: auto;
    display: flex;
}