<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Doctor's Post</h1>
    <ul>
      {% for post in posts %}
      <li>
        <h3>{{post.title}}</h3>
        <img src="{{ post.image.url }}" alt="Post Image" />
        <p>{{post.summary|truncatewords:15}}</p>
      </li>
      {% empty %}
      <li>No Post Available.</li>
      {% endfor %}
    </ul>

  </body>
</html>
