{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Patient Details</title>
    <link rel="stylesheet" href="{% static 'user/css/showDetails.css'%}">
</head>
<body>
    <h1>All Doctor Details</h1>
    <h4><a href="{% url 'doctor' %}">Register New Doctor</a></h4>
    <table>
        <tr>
            <th>SR.NO.</th>
            <th>UserName</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>Email</th>
            <th>Address</th>
            <th>ProfilePicture</th>
        </tr>

       {% for doctor in alldoctor %}
       <tr>
        <th>{{ forloop.counter }}</th>
        <td>{{doctor.UserName}}</td>
        <td>{{doctor.FirstName}}</td>
        <td>{{doctor.LastName}}</td>
        <td>{{doctor.Email}}</td>
        <td>{{doctor.Address}}</td>
        <td><img src="{{doctor.ProfilePicture.url}}" alt=""></td>
       </tr>
       {%  endfor %}
    </table>
</body>
</html>